name: Dart CI
on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          release-channel: stable
      - name: Install dependencies
        run: dart pub get
      - name: Run tests
        run: dart pub run --no-sound-null-safety test
